.post-card {
    min-width: 500px;
    max-width: 100%; /* Allows expansion */
    min-height: 150px;
    flex-shrink: 1;
    border-width: 2px;
    border-color: #202020;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #313131;
    gap: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Adds shadow */
    transition: box-shadow 0.3s ease-in-out;
}

/* Optional: Hover effect for a deeper shadow */
.post-card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}


.post-card-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-card .profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    object-fit: cover;
}

.post-card .post-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.post-card .post-user-name {
    font-size: 18px;
    font-weight: bold;
    color: #BCBCBC;
}

.post-card .post-timestamp {
    font-size: 12px;
    color: #BCBCBC;
    opacity: 0.6;
}

.post-card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
    color: #BCBCBC;
}

.post-card .post-content {
    font-size: 16px;
    color: #BCBCBC;
    font-size: 13px;
}

.post-card .post-media-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.post-card img,
.post-card video {
    width: 100%;
    max-height: none;
    object-fit: cover;
    border-radius: 10px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.post-actions button {
    background-color: #202020;
    padding: 12px 12px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
}

.expanded-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #BCBCBC;
}

.comment-item {
    padding: 8px;
    border-radius: 5px;
    background-color: #2A2A2A;
}

.comment-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #444;
    font-size: 14px;
    background-color: #222;
    color: #BCBCBC;
    outline: none;
}
