.event{
    display:flex;
    min-height: 100vh;
}

.event .left-bar{
    background-color: #545353;
    display: block;
    min-width: 300px;
    
}

.event .main-section{

    background-color: #313131;
    flex-grow: 1;
    /* overflow: auto; */
}